---
---

{
    $section-headings-color: rgba(9,56,121,1) !default;
    $body-text-color: #606c71 !default;
    $body-link-color: #1e6bb8 !default;
    $blockquote-text-color: #819198 !default;
}

@import "{{ site.theme }}";

/* https://cssgradient.io/ */
.page-header {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,56,121,1) 42%, rgba(0,212,255,1) 100%);
    padding: 2rem 1rem;
    height: 175px;
}
